@media screen and (max-width:1176px) {


    nav {
        flex-direction: column;
        height: 151px;

    }

    .bar {
        display: flex;
        justify-content: center;
        margin-left: -36px;
    }

    .cart {
        position: relative;
        bottom: 87px;
        left: 371px;
        margin-top: -18px;
    }

    .logo {
        position: relative;
        right: 118px;
        margin-top: 23px;
    }

    ul {
        margin: 4px 33px;
    }

    .slider img {
        margin-top: 92px;
    }

    .card {
        margin: 4px 37px;
    }
}